[advanced]
misc=solution_name=link
# param=compiler.userPostSysLinkOverlayTcl=../post_sys_link.tcl
# param=compiler.worstNegativeSlack=-2

[connectivity]
nk=SwitchingDMA_read:1:SwitchingDMA_read_1
nk=SwitchingDMA_write:1:SwitchingDMA_write_1

nk=line_buffer:1

nk=cell_p2s:1:cell_p2s_1
nk=cell_s2p:1:cell_s2p_1

slr=SwitchingDMA_write_1:SLR0
slr=SwitchingDMA_read_1:SLR1
slr=cell_p2s_1:SLR0
slr=cell_s2p_1:SLR0
slr=line_buffer_1:SLR1

sp=SwitchingDMA_write_1.WritePort:HBM[12]
sp=SwitchingDMA_read_1.ReadPort:HBM[2]
sp=line_buffer_1.mem1:HBM[0]
sp=line_buffer_1.mem2:HBM[0]

# Stream modules 
sc=SwitchingDMA_read_1.o_stream:cell_s2p_1.cell_stream_in:128
sc=cell_s2p_1.data_cell_pack_stream_out:line_buffer_1.stream_in

sc=line_buffer_1.stream_out:cell_p2s_1.data_cell_pack_stream_in
sc=cell_p2s_1.cell_stream_out:SwitchingDMA_write_1.i_stream:128



